#include <windows.h>

1 ICON "autopsy.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "autopsy.lol\0"
            VALUE "FileDescription", "Autopsy Beta\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "autopsy\0"
            VALUE "OriginalFilename", "autopsy.exe\0"
            VALUE "ProductName", "Autopsy Beta\0"
            VALUE "ProductVersion", "1.0.0.0\0"
            VALUE "LegalCopyright", "Copyright (C) autopsy.lol. All rights reserved.\0"
            VALUE "LegalTrademarks", "autopsy.lol\0"
            VALUE "Comments", "Free Windows Roblox utility. Official website: https://autopsy.lol\0"
            VALUE "Website", "https://autopsy.lol\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
